*
{
	margin: 0;
	padding: 0;
	font-family: 'Georgia', serif;
}

@font-face
{
	font-family: 'FanfareJF';
	src: url('FanfareJF.eot');
	src: url('FanfareJF.eot?#iefix') format('embedded-opentype'),
		url('FanfareJF.woff') format('woff'),
		url('FanfareJF.ttf') format('truetype');
}

body
{
	background-color: #E4E4E1;
}

a, a:hover, a:active
{
	text-decoration: none;
	color: #000000;
}

a.rsvp
{
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 3vw;
	padding-left: 0.3vw;
	padding-right: 0.3vw;
}

a.rsvp:hover
{
	background-color: #E4E4E1;
}

::selection
{
	background: #F4DBF6;
}

::-moz-selection
{
	background: #F4DBF6;
}

.table_css
{
	display: table;
}

.td_css
{
	display: table-cell;
}

.td_css2
{
	display: table-cell;
	vertical-align: top;
}

.tr_css, .tr_css2
{
	display: flex;
}

@-ms-viewport
{
	width: device-width;
}

h1, .header_text
{
	float: left;
	color: #000000;
	margin-left: 1vw;
	margin-bottom: 0vw;
	font-size: 1.4vw;
	font-weight: bold;
}

.header_text
{
	color: #FFFFFF;
}

.header
{
	color: #FFFFFF;
	
	background: #F6527E;
	background: -webkit-linear-gradient(#F6527E, #B63D5D);
	background: -o-linear-gradient(#F6527E, #B63D5D);
	background: -moz-linear-gradient(#F6527E, #B63D5D);
	background: linear-gradient(#F6527E, #B63D5D);
	
	width: 76%;
	height: 2.6em;
	padding: 1.3vw;
	font-size: 1.6vw;
	margin-top: 0.5vw;
	
	-ms-user-select: none;
	user-select: none;
}

.header2
{
	color: #FFFFFF;
	background: #B63D5D;
	width: 76%;
	padding: 1.3vw;
	padding-top: 0vw;
	
	-ms-user-select: none;
	user-select: none;
}

.header_empty
{
	width: 11vw;
}

.header_img
{
	width: 29vw;
	height: 16vw;
	padding: 0.5vw;
	padding-top: 0vw;
	padding-bottom: 0vw;
	padding-right: 1vw;
	-ms-user-select: none;
	user-select: none;
}

/* Header text */
.header_title, .header_home, .header_link, .header_static, .header_mobile
{
	font-family: 'Archivo Narrow', sans-serif;
	letter-spacing: 0.03em;
	float: left;
	color: #FFFFFF;
	padding-left: 0.1em;
	padding-right: 0.1em;
	cursor: default;
}

.header_home
{
	float: none;
	padding-bottom: 0.8vw;
	font-family: 'FanfareJF', serif;
	font-size: 2.2vw;
	width: 14vw;
	height: 2vw;
}

.header_home:hover, .header_link:hover
{
	color: #F6527E;
	background-color: #FFFFFF;
	cursor: pointer;
}

.header_home:active, .header_link:active
{
	color: #DC4971;
}

.header_bars
{
	visibility: hidden;
	width: 0vw;
	height: 0vw;
}

.header_mobile
{
	visibility: hidden;
	width: 0vw;
	height: 0vw;
	padding: 0vw;
	margin-top: 1px;
	
	-ms-user-select: none;
	user-select: none;
}

.video_player
{
	width: 76%;
	padding: 1.3vw;
	background-color: #FFFFFF;
}

.vp_left, .vp_right
{
	color: #000000;
	width: 25.5vw;
	height: 5vw;
	
	background: #CACACA;
	background: -webkit-linear-gradient(#D4D4D1, #CACACA);
	background: -o-linear-gradient(#D4D4D1, #CACACA);
	background: -moz-linear-gradient(#D4D4D1, #CACACA);
	background: linear-gradient(#D4D4D1, #CACACA);
	
	letter-spacing: 0.02em;
	font-size: 1.2vw;
	
	-ms-user-select: none;
	user-select: none;
}

.vp_left:hover, .vp_right:hover
{
	background: #D4D4D1;
	background: -webkit-linear-gradient(#E4E4E1, #D4D4D1);
	background: -o-linear-gradient(#E4E4E1, #D4D4D1);
	background: -moz-linear-gradient(#E4E4E1, #D4D4D1);
	background: linear-gradient(#E4E4E1, #D4D4D1);
	
	cursor: pointer;
}

.vp_left:active, .vp_right:active
{
	background: #E4E4E1;
	background: -webkit-linear-gradient(#F4F4F1, #E4E4E1);
	background: -o-linear-gradient(#F4F4F1, #E4E4E1);
	background: -moz-linear-gradient(#F4F4F1, #E4E4E1);
	background: linear-gradient(#F4F4F1, #E4E4E1);
	
	cursor: pointer;
}

.vp_left
{
	border-bottom-left-radius: 0.4vw;
}

.vp_right
{
	border-bottom-right-radius: 0.4vw;
	width: 25.4vw;
}

.vp_body
{
	float: left;
	font-size: 1.2vw;
	margin: 1vw;
	margin-top: 0.5vw;
}

iframe, embed
{
	width: 51vw;
	height: 29vw;
	background-color: #000000;
}

img
{
	width: 35.3vw;
	height: 20vw;
	padding: 0.5vw;
	padding-top: 0vw;
	padding-bottom: 0vw;
	-ms-user-select: none;
	user-select: none;
}

img.party
{
	width: 51.2vw;
	height: 34.2vw;
}

img.ig
{
	width: 20vw;
	height: 20vw;
	padding: 1vw;
	opacity: 1;
	filter: alpha(opacity=100);
}

img.ig:hover
{
	opacity: 0.75;
	filter: alpha(opacity=75);
}

img.ig:active
{
	opacity: 0.5;
	filter: alpha(opacity=50);
}

img.about_desktop
{
	width: 30vw;
	height: 20vw;
	padding: 0vw;
	visibility: visible;
}

img.about_mobile
{
	width: 0vw;
	height: 0vw;
	padding: 0vw;
	visibility: hidden;
}

.br_invs
{
	padding-top: 1vw;
}

.br_vs
{
	padding-top: 1px;
	background-color: #000000;
	margin: 4vw;
	width: 78.5%;
}

.br_invs_10
{
	padding-top: 20vw;
}

img.icon
{
	width: 5vw;
	height: 5vw;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 1.5vw;
}

img.icon:hover
{
	opacity: 0.75;
	filter: alpha(opacity=75);
	cursor: pointer;
}

img.icon:active
{
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: pointer;
}